/target
/local
/repositories

#https://intellij-support.jetbrains.com/hc/en-us/community/posts/206975205-Where-does-the-overlays-directory-come-from-
/overlays

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml
